/* Use Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Apply box-sizing to all elements */
* {
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: space-between;
  padding:auto;
}
/* Set body styles */
body {

  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#1d54ac, #1f2579); /* Refine background gradient */
  color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

/* Style the header */
#header {
  text-align: center;
  margin: 3rem auto; /* Increase margin for spacing */
  color: #75b6fc; /* Use a modern color, you can adjust as needed */
}

#header img {
  width: 8rem; /* Increase size for a more impactful logo */
  height: 8rem;
  object-fit: cover; /* Use cover for a sleek fit */
  background-color: #F8F9FA; /* Add a subtle background color */
  border-radius: 50%; /* Circular border for a modern look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#header h1 {
  font-size: 2.5rem; /* Slightly increase font size for emphasis */
  font-weight: 700; /* Use a bolder font weight for a modern feel */
  margin-top: 1rem; /* Add a bit of space between the logo and the title */
}




/* Style user input */
#user-input {
  padding: 1rem;
  max-width: 70rem;

  margin-left: 15rem;
  border-radius: 4px;
  background: linear-gradient(180deg, #4382db, #0d699b); /* Update input background gradient */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a cleaner appearance */
}

.input-group {
  display: flex;
  flex-direction: column; /* Change to column layout */
  gap: 1.5rem;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: 'Roboto', sans-serif; /* Use the same font for labels */
  font-size: 1rem; /* Increase label font size */
  font-weight: bold;
  text-transform: uppercase;

}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #76c0ae; /* Update border style */
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

/* Style result table */
#result {
  max-width: 50rem;
  margin-right: 20rem;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: center;
  overflow: auto; /* Add overflow for scrolling within the table */
}

#result thead {
  font-size: 0.7rem;
  color: #83e6c0;
}

#result tbody tr:hover {
  background-color: #a70000; /* Add hover effect on table rows */
  transition: background-color 0.3s ease;
}

#result tbody {
  font-family: 'Roboto', sans-serif; /* Use the same font for table body */
  font-size: 0.85rem;
  color: #c2e9e0;
}

.center {
  text-align: center;
}

.top{
  text-align: left;
}